body {
    height: 170%;
    margin: 0;

    background: linear-gradient(to bottom, #8e12b4 70%, #851a54 10%);
    overflow-y: scroll;
}

a {
    color: rgb(124, 3, 3);
}


#Back {
    position: relative;
    background-color: #f05800;
    width: 130px;
    height: 45px;
    left: 10px;
    top: 10px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid black
}

#BackText {
    position: relative;
    top: -20px;
}

#main {
    position: absolute;
    background-color: #f05800;

    width: 400px;
    height: 450px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px;

    font-family: "Times New Roman", Times, serif;
    margin-left: 430px;
    margin-top: 50px;
    text-align: center;

}

#links {
    position: absolute;
    letter-spacing: 1.5px;

    top: 50px;
    left: 10px
}